h1{
   text-align: center;
   font-family: Garamond, serif;
   color: white;
   background-color: green
}
h2 {
  font-family: Georgia, serif;
  text-align: center;
  font-size:20px
}
#head{
  background-color:#D3EAE0;
  height: 150px;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  
}
.box 
      {
        white-space: pre-wrap;
      }
#whole {
 display: flex;
 flex-direction: row;
justify-content: center;
margin-left: 180px;
}
#acky1{
  height:400px;
  width:500px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow-y:scroll;
  margin:left;
}
body{
  background-color: white;

}

